* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: auto;
  
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
}

.logo-link img {
  width: 8rem;
  padding-right: 1rem;
  margin-right: 2rem;
}



.logo-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #000000;
    transition: .3s;
}

a:hover {
color: #6f6e6e;
}

.icons {
  display: flex;
  grid-column-gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: .3s;
}


.icons i {
    font-size: 1.4rem;
}

hr {
  height: 2px;
  width: 100%;
  background-color: #6f6e6e;
  
}

main {
  width: 100%;
  height: auto;
 
  
}

.linea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.raya-hr {
    width: 80%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-section {
    gap: 2rem;
    margin: 2rem;
}


.combo {
    text-align: center;
    background-color: rgb(249, 246, 246);
    padding: .8rem;
    border-radius: 10px;
    transition: .3s;


}

.combo:hover {
    background-color: #eceaea;
}

.combo img{
    margin-bottom: .5rem;
    width: 10rem;
    object-fit: contain;
    
    
}



.container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}


footer img {
    width: 4rem; 
   margin-left: 4rem;


}

footer{
    
    width: 100%;
    background-color: black;
    display: flex;
    padding: .3rem;
  

}
