* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  border: solid 4px red;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
}

.logo img {
  width: 8rem;
  padding-right: 1rem;
  margin-right: 2rem;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.texto {
  display: flex;
  grid-column-gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  height: 2px;
  width: 100%;
  background-color: #6f6e6e;
  
}

main {
  width: 100%;
  height: auto;
 
  
}

.linea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}
.raya-hr {
    width: 80%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-section {
    gap: 2rem;
    margin: 2rem;
}


.combo {
    text-align: center;
    background-color: rgb(249, 246, 246);
    padding: .8rem;
    border-radius: 10px;


}



.combo img{
    margin-bottom: .5rem;
    width: 10rem;
    object-fit: contain;
    border: solid 2px red;
    
}

.container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}


footer img {
    width: 4rem; 
  
   margin-left: 2rem;


}

footer{
    
    width: 100%;
    background-color: black;
    display: flex;
  

}
